filtered_gene_families
data
raw_gene_families
datasets.exe
dataformat.exe
retriving_strains.ipynb
scardovia.zip
all_proteins_combined.fasta
mmseqs_output_all_seqs.fasta
mmseqs_output_cluster.tsv
mmseqs_output_rep_seq.fasta
chosen_strains_from_supplement.csv
mmseqs
processing/downloads
processing/tmp_mmseqs
mafft-7.526-linux.tgz
mafft-linux64
FastTree
logs
